/*  This div class is the container for our menu.
    It defines attributes for everything inside. */
body  {
    text-align:center;
    background: url("http://i.imgur.com/vXLdMeL.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: navy;
    font-family: garamond;
}
#sidebar{
	height: 100%;
	width: 100%;
	background-color: #303014;
	position: relative;
	display: inline-block;
	z-index: 10
}
#characterSheet {
	position: fixed;
	display: block;
	top: 3em;
    right: 0;
	opacity: 80%;
	background: -webkit-linear-gradient(left top, #FFEAD6 , #DADAFF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #FFEAD6 , #DADAFF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #FFEAD6 , #DADAFF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #FFEAD6 , #DADAFF); /* Standard syntax (must be last) */
    padding: .75% 1% .75% 1%;
    border: 1px solid #522900;
    border-top-left-radius: 6px; 
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
}
.raceStyle{
	left:50%;
	margin:0 auto;
	height: 70%;
	width: 45%;
	background: -webkit-linear-gradient(left top, #FFEAD6 , #DADAFF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #FFEAD6 , #DADAFF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #FFEAD6 , #DADAFF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #FFEAD6 , #DADAFF); /* Standard syntax (must be last) */
    padding: .75% 1% .75% 1%;
    border: 1px solid #522900;
	vertical-align: top;
	display:initial;
    border-top-left-radius: 6px; 
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
}
.raceStyle li{
	display: initial;
	border: none;
	list-style: disc
}
.raceStyle img {
	max-height: 50%;
	max-width: 70%;
	border: 1px solid #522900;
	border-top-left-radius: 6px; 
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
}
/*  Defining ul to create visual distinction from the rest of the page. */
ul.tabs {
    text-align: center;
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;

}

/*  Making each li legible and structured together with inline-block */
ul li {
    margin-bottom: -1px;
    padding: 0.5% 1% 0.5% 1%;
    border: 1px solid #522900;
    opacity: .5;
    display: inline-block;
    border-top-left-radius: 6px; 
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
}
ul li.selected {

    border: 3px solid #522900;
}
ul li:hover {
      opacity: 1;
      }
div.main{
	display: inline-block;
	width:70%;
}
div.page {
    text-align: center;
	position: relative;
	max-width:90%;
	min-width:60%;
	z-index: 0;
}
/*  Making sure my li's look how I want them, aligned properly and without bullets */
div.page li {
    text-align: left;
    list-style-type: none;
}
/* THIS IS WHERE BUTTONS GO */
.buttonSelect {
	box-shadow:inset 0px 1px 0px 0px #ffb92e;
	padding: .5em 1em .5em 1em;
    border-top-left-radius: 6px; 
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
    border: 1px solid #522900;
	display:inline-block;
	cursor:pointer;
	text-decoration:none;
	text-shadow:-2px 1px 9px #b23e35;
	float:left
}
.buttonSelect:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9ba892), color-stop(1, #dbe6c4));
	background:-moz-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:-webkit-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:-o-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:-ms-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ba892', endColorstr='#dbe6c4',GradientType=0);
	background-color:#9ba892;
}
.buttonSelect:active {
	position:relative;
	top:1px;
}
.returnButton {
	box-shadow:inset 0px 1px 0px 0px #ffb92e;
	padding: .5em 1em .5em 1em;
    border: 1px solid #522900;
    border-top-left-radius: 6px; 
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	text-decoration:none;
	text-shadow:-2px 1px 9px #b23e35;
	float:right
}
.returnButton:hover {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc96b', endColorstr='#f09c76',GradientType=0);
	background-color:#DBDBFF;
}
.returnButton:active {
	position:relative;
	top:1px;
}
