/*  This div class is the container for our menu.
    It defines attributes for everything inside. */
body  {
    text-align:center;
    background: url("http://i.imgur.com/vXLdMeL.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: navy;
    font-family: garamond;
}
#sidebar{
	height: 100%;
	width: 100%;
	background-color: #303014;
	position: relative;
	display: inline-block;
	z-index: 10
}
#characterSheet {
	border: .2 em solid black;
	border-radius: 5px;
	background-color: #308014;
	position: fixed;
	display: block;
	top: 3em;
    right: 0;
	
}
#raceDisplayHumanM{
	height: 70%;
	width: 45%;
	opacity: 90%;
	background-color: white;
    padding: 0.5% 1% 0.5% 1%;
    border: 1px solid #522900;
    display: inline-block;
    border-top-left-radius: 6px; 
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
}
#raceDisplayHumanM li{
	display: initial;
	border: none;
	list-style: disc
}
#raceDisplayHumanM img {
	opacity:100%;
	max-height: 50%;
	max-width: 70%;
	border: 1px solid #522900;
	border-top-left-radius: 6px; 
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
}
.team
{
margin:auto;
width:23%;

}
img.team
{max-width:100%;
height:auto;
border-style:solid;
border-color: #522900;
}

div.team {
    font-family: "Helvetica";
    font-size: 1em;
    width: 70%;
}

/*  Defining ul to create visual distinction from the rest of the page. */
ul.tabs {
    text-align: center;
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;

}

/*  Making each li legible and structured together with inline-block */
ul li {
    margin-bottom: -1px;
    padding: 0.5% 1% 0.5% 1%;
    border: 1px solid #522900;
    opacity: .5;
    display: inline-block;
    border-top-left-radius: 6px; 
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
}
ul li.selected {

    border: 3px solid #522900;
}
ul li:hover {
      opacity: 1;
      }
div.main{
	display: inline-block;
	width:70%;
}
div.page {
    text-align: center;
	position: relative;
	max-width:90%;
	min-width:60%;
	z-index: 0;
}
/*  Making sure my li's look how I want them, alligned properly and without bullets */
div.page li {
    text-align: left;
    list-style-type: none;
}